// cups-pk-helper: allow everyone to manage printers
polkit.addRule(function(action, subject) { 
    if (action.id.startsWith("org.opensuse.cupspkhelper.mechanism.")
        /*&& subject.local && subject.active*/) {
        return polkit.Result.YES; 
    }

    return polkit.Result.NOT_HANDLED;
});
