[Desktop Entry]
Exec=tastenbrett
Icon=preferences-desktop-keyboard
Type=Application
SingleMainWindow=true
Name=Podgląd klawiatury
Comment=Wyświetl podgląd używanego układu klawiatury, by wiedzieć jakie znaki są pod jakimi klawiszami
Categories=Qt;Utility;
Keywords=Keyboard
